.title
{
}

.menu
{
}
.button
{
  background:red;
  width:31.33%;
  float:left;
  margin-left:1%;
  margin-bottom:5px;
  margin-top:5px;
  text-align:center;
}

#breaker
{
  clear:both;
}
.column
{
  float:left;
  width:31.33%;
  height:350px;
  margin-left:1%;
  margin-bottom:1%;
  overflow:hidden;
}

.row1:after
{
  clear:both;
  content:"";
  display:table:
  clear:both;
}

.row2:after
{
  content:"";
  display:table:
  clear:both;
}

footer
{
  clear:both;
  text-align:center;
}
