#myVideo {
  position: fixed;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content{
  position: fixed;
  top:0;
  left: -10;
  padding-left: 15;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color:crimson;
}

footer{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    left: -10;
    padding-left: 90%;
    width: 100%;
    color: aqua;
}

