.title
{
  height:50px;
}

.border
{
  width:30%;
  border-bottom:solid;
  border-width:1px;
  margin-left:33.33%;
  margin-bottom:10px;
}
.button
{
  border:solid;
  border-width:.1px;
  width:31.33%;
  height:40px;
  float:left;
  margin-left:1%;
  margin-bottom:5px;
  margin-top:5px;
  text-align:center;
}

#breaker
{
  clear:both;
}
.column
{
  float:left;
  width:31.33%;
  height:350px;
  margin-left:1%;
  margin-bottom:1%;
  overflow:hidden;
}

.about
{
  margin-left:23.33%;
  border:solid;
  width:50%;
  height:500px;
  margin-top:2%;
}

.row1:after
{
  clear:both;
  content:"";
  display:table:
  clear:both;
}

.row2:after
{
  content:"";
  display:table:
  clear:both;
}
.row3:after
{
  content:"";
  display:table:
  clear:both;
}

footer
{
  clear:both;
  text-align:center;
}

